@model DACSWebCaFeSunDay.Models.EF.Product
@{
    ViewBag.Title = "Chi Tiết Sản Phẩm";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/single_responsive.css">
<link href="~/Content/assets/styles/styles.css" rel="stylesheet" />
@if (Model != null)
{


    <div class="container single_product_container">
        <div class="row">
            <div class="col">
                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/">Home</a>
                        <li>
                        <li><a href="/danh-muc-san-pham/@Model.ProductCategory.Alias-@Model.ProductCategoryId"><i class="fa fa-angle-right" aria--hidden="true"></i>@Model.ProductCategory.Title</a>
                        <li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria--hidden="true"></i>@Model.Title</a>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                @if (Model.ProductImage != null && Model.ProductImage.Any())
                {
                    <div class="single_product_pics">
                        <div class="row">

                           
                            <div class="col-lg-9 image_col order-lg-2 oder-1">
                                <div class="single_product_image">
                                    <div class="single_product_image_background" style="background-image:url(@Model.ProductImage.FirstOrDefault(x=>x.IsDefault).Image)"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div>
                        @if (Model.PriceSale > 0)
                        {
                            <div class="original_price">@DACSWebCaFeSunDay.Common.Common.FormatNumber(Model.Price, 0)</div>
                            <div class="product_price">@DACSWebCaFeSunDay.Common.Common.FormatNumber(Model.PriceSale, 0)</div>
                        }
                        else
                        {
                            <div class="product_price">@DACSWebCaFeSunDay.Common.Common.FormatNumber(Model.Price, 0)</div>
                        }
                        <div>

                            <div class="red_button add_to_cart_buttonn"><a href="#" class="btnAddToCart" data-id="@Model.Id">Thêm Vào Giỏ Hàng</a></div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-5">
                <div class="product_details">
                    <div class="product_details_title">
                        <h2>@Model.Title</h2>
                        <p>@Model.Description</p>
                        <div class="col-md-12">
                            @Html.Raw(Model.Detail)
                        </div>
                    </div>
                   

                
                </div>
            </div>
        </div>
    </div>


}
@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>


}